.button{
    background-color: inherit;
    border: none;
}

.container-button{
    background-color:#f3f3f3;
    border: solid 1px #606060;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 200px;
}