.button{
    background-color: inherit;
    border: none;
}

.container-button{
    background-color:#f3f3f3;
    border: solid 1px #606060;
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 200px;
    flex-wrap: wrap;
}

i{
    display: flex;
    align-items: center;
}

.stock-count{
    padding-top: 10px;
    color: #606060;
}