

.container-cards{
    margin-bottom: 50px;
    padding-bottom: 50px;
    
}

.lista{
    
    padding-top: 50px;
}

.titulo{
    border-bottom: solid 1px #178080;
    padding-bottom: 20px;
    margin:0px 0px 30px 0px;
    display: flex;
    justify-content: center;
    width: 90%;
    
}

.card{
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 0px;
    background-color: #f2f2f2;
    margin-bottom: 80px;
    

}


.nombre-prod{

font-weight:bold;
font-size: 17px;
margin-top: 15px;
}



.contaniner-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
}
.img-prod{
    border-radius: 20%;
    transition: 500ms;
}

.img-prod:hover{
    transform: scale(1.1);
    transition: 500ms;
}


.button-prod{
    border: solid 1px #606060;
    border-radius: 5%;
    width:130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

.button-prod:hover{
    border-radius: 20%;
width: 140px;
height: 80px;
border:none ;
background-color: #178080;
color: #fff;
transition: 500ms;
}

.cart-icon{
    display: flex;
    margin-left: 5px;
    
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #178080;
}

.title{
    justify-content: center;
    min-height: 135px;
    text-align: center;
}

