.header{
    background-color: #7fd8d8;
    
    
}
body{
    background-color: #f2f2f2;
}


.nav-top{
    
    padding-bottom: 10px;
}
.nav-bot{
    margin: top 2px;
    
}

.img-logo{
    height: 50px;
    
}

.link-item{
    color: aliceblue;
    letter-spacing: 2px;
    margin-left: 30px;
}

.btn-outline-success{
    border: solid 1px #178080;
    color: #178080;
}

.btn-outline-success:hover{
    background-color: #178080;
}

.navbar-nav a{
    text-decoration: none;
}