*{
    /* color para texto */
    color: #f3f3f3;
    /* color para fondo */
    /* color para letra blanca */
    color: #fff;
    /* color para letra apagada */
    color: #606060;
    /* color letra negra */
    color: #000;
    /* color principal */
    color: #129f5e;
    /* color detalles */
    color: #0f7445;

}